th {
    font-weight: bold;
    color: #fff;
    padding: 20px;
    font-size: 22px;
    letter-spacing: 1.4px;
    /* text-shadow: 1px 1px 1px white; */
}

body {
  margin: 0;
  background-color: #a2bde7; 
}

thead th {
    background: linear-gradient(to bottom, rgba(33, 149, 144, 0.3), rgba(33, 149, 144, 0.9))
  }

td {
    padding: 10px;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.5px;
  }

  caption {
      font-size: 50px;
      font-weight: bold;
      margin: 23px 0;
  }

table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    margin: 0 132px;
    width: 80%;
}

thead th:nth-child(1) {
    width: 10%;
  }
  
  thead th:nth-child(2) {
    width: 11%;
  }
  
  thead th:nth-child(3) {
    width: 33%;
  }

  thead th:nth-child(4) {
    width: 27%;
  }
 
  tfoot {
    text-shadow: 1px 1px 1px #b5e0e7;
    color: #fff;
    font-size: 18px;
    background: linear-gradient(to bottom, rgba(33, 149, 144, 0.3), rgba(33, 149, 144, 0.9))
  }

  tbody tr:nth-child(odd) {
    background: linear-gradient(to bottom, rgba(116, 178, 187, 0.302), rgba(38,149,166, 0.9))
  }
  
  tbody tr:nth-child(even) {
    background-color: #c2d9fb;
  }

 tfoot td {
    font-size: 15px;
    color: #000;
  }

  tfoot td a {
    color: #000;
    text-decoration: none;
  }